.login {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  padding-top: 20px;
}

.login__left {
  width: 32%;

  h1 {
    background: linear-gradient(
      81.84deg,
      #0099ff -9.4%,
      #a033ff 51.57%,
      #ff5280 84.07%,
      #ff7061 90.59%
    );
    background-clip: text;
    color: transparent;
    padding: 10px 0;
    font-size: 72px;
    margin-bottom: 12px;
  }

  > p {
    margin-bottom: 20px;
  }

  input {
    width: 300px;
    margin-top: 12px;
  }

  .option {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 32px 0;
  }
}

.login__left--mobile {
  display: none;
}

::placeholder {
  color: #ccc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

.login__right {
  width: 42%;

  img {
    width: 100%;
  }
}

// Responsive
@import "../../scss/variables.scss";

@media screen and (max-width: $mobile-width) {
  .login__left,
  .login__right {
    display: none;
  }

  .login__left--mobile {
    display: block;
    padding: 120px 20px;
    text-align: center;

    * {
      margin-bottom: 30px;
    }

    > p {
      font-weight: bold;
      font-size: 20px;
    }

    input {
      margin-bottom: 20px;
      width: 80%;
    }
  }
}
