.footer {
  display: flex;
  padding: 30px 20px 0;
  justify-content: space-between;
}

.footer__image {
  max-width: 150px;
}

// Responsive
@import '../../../scss/variables.scss';

@media screen and (max-width: $mobile-width) {
  .footer {
    display: none;
  }
}
