.footer {
  display: flex;
  padding: 30px 20px 0;
  justify-content: space-between;
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
}

.footer__image {
  max-width: 150px;
}

// Responsive
@import "../../../scss/variables.scss";

@media screen and (max-width: $mobile-width) {
  .footer {
    display: none;
  }
}
