.signup {
  text-align: center;

  h1 {
    background: linear-gradient(
      81.84deg,
      #0099ff -9.4%,
      #a033ff 51.57%,
      #ff5280 84.07%,
      #ff7061 90.59%
    );
    background-clip: text;
    color: transparent;
    padding: 10px 0;
    font-size: 60px;
    margin-bottom: 12px;
  }
}

.signup__content {
  padding-top: 28px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto;

  > * {
    margin-bottom: 12px;
  }

  .content__form {
    border-top: 1px solid #ccc;
    padding: 20px;
    padding-top: 25px;
    > * {
      margin-bottom: 12px;
    }
  }
}

// Responsive
@import "../../scss/variables.scss";

@media screen and (max-width: $mobile-width) {
  .signup {
    padding: 90px 12px;
  }
}
