.recover {
  h1 {
    background: linear-gradient(
      81.84deg,
      #0099ff -9.4%,
      #a033ff 51.57%,
      #ff5280 84.07%,
      #ff7061 90.59%
    );
    text-align: center;
    background-clip: text;
    color: transparent;
    padding: 10px 0;
    font-size: 60px;
    margin-bottom: 12px;
  }
}

.recover__content {
  padding: 30px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 40px auto 0;

  h2 {
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .content__form {
    border-top: 1px solid #ccc;
    padding: 20px;

    p {
      margin-bottom: 20px;
    }
  }
}

// Responsive
@import "../../scss/variables.scss";

@media screen and (max-width: $mobile-width) {
  .recover {
    padding: 60px 12px 120px;
    h1 {
      + div {
        padding: 0 20px;
      }
    }
  }

  .recover__content {
    width: auto;
  }
}
